# Required libraries for the COSMILE Europe Data Scraping Project

# JSON handling library
json==2.0.9

# Time-related functions
time==1.0.0

# Logging for tracking errors and progress
logging==0.5.1

# HTTP library for making requests
requests==2.26.0

# Library for parsing HTML and extracting information
requests-html==0.10.0

# XML and HTML parsing library
lxml==4.6.3

# Data manipulation library
pandas==1.3.3